<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>SimpleJspServletDB</display-name>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthServlet</servlet-name>
        <servlet-class>controller.AuthServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Vp44150sqlController</servlet-name>
        <servlet-class>controller.Vp44150sqlController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutocompleteKizController</servlet-name>
        <servlet-class>controller.AutocompleteKizController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TmisqlController</servlet-name>
        <servlet-class>controller.TmisqlController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdCont</servlet-name>
        <url-pattern>/UpdCont</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthServlet</servlet-name>
        <url-pattern>/AuthServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Vp44150sqlController</servlet-name>
        <url-pattern>/Vp44150sqlController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutocompleteKizController</servlet-name>
        <url-pattern>/AutocompleteKizController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TmisqlController</servlet-name>
        <url-pattern>/TmisqlController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description/>
        <display-name>SkisqlController</display-name>
        <servlet-name>SkisqlController</servlet-name>
        <servlet-class>controller.SkisqlController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdCont</servlet-name>
        <servlet-class>controller.UpdCont</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SkisqlController</servlet-name>
        <url-pattern>/SkisqlController</url-pattern>
    </servlet-mapping>
</web-app>
