


.navbar-my{

    background: #b5cd60;
    

}

.navbar-my ul li a{

    color: #000000;

}
.pag{
margin-top: -15px;
margin-bottom: -15px;
}
.pag2{  
    margin-top: -35px;
    
}