     

.stickyColumn {
    position: sticky;
}
td>div{
    display:inline-block;
    margin:0;
    padding-top: 0px;


}
td[rowspan]{
    vertical-align:top !important;


}
td[paint]{
    background-color: rgb(249, 249, 249);
    /*border: 2px solid black !important;*/
}  


#rowPerPage {
   background: transparent;
   width: 60px;
   padding: 5px;
   font-size: 14px;
   border: 1px solid #ccc;
   height: 34px;
}