/*Границ. табл. добавления*/
/*#add {          
    border: 0;
}
#add .add,.add2, tr, td, th {
    border: 0;}
#add label {
    vertical-align: middle;
}*/


/*Границ. табл. редактирования*/
/*#upd {             
    border: 0;
}
#upd .upd, .upd2 {
    border: 0;}
#upd label {
    vertical-align: middle;
}*/



#search                         /*Поиск*/
{   
    background: #d6e9c6;  
}

#search tr, th, td
{
    border:1px ;
}
#search tr[paint]:hover{
    background: lemonchiffon;

}

#backgroundSearchHead{
    background-color: #58ba5c;  
}

#backgroundSearchHead tr th{
    color: white; 
}

th {
    text-align: center;
    vertical-align: middle;
}

.frm{
    padding:0 5px;    
}
a.disabled {
    pointer-events: none; /* делаем элемент неактивным для взаимодействия */
    cursor: default; /*  курсор в виде стрелки */
    color: #888;/* цвет текста серый */
}

#excell,#excel2,#excel3{
    margin: 5px;
    margin-top: 0px; 
}

#headFiltPan{
     background: #58ba5c;
}
#headFiltPan a{
    color: white;
}
/*#loading{
    position: relative;
    margin:  -25px;
    margin-top: 5px;
}*/

